.login{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    height: 100%;
}

.form{
    border-style: solid;
    width: max-content;
    height: 100%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

input{
    margin: 20px;
    width: 250px;
    border-radius: 5px;
}

.submitbtn{
    display: flex;
    justify-content: center;
    
}